body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #caffc5;
  color: black;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #ddd;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}